/ChitFund/bin/*.xml
/ChitFund/bin/*.dll
/ChitFund/bin/*
/ChitFund/bin/*.config
/ChitFund/bin/*.pdb
/ChitFund/bin/System.Web.Http.dll
/ChitFund/bin/System.Web.Http.WebHost.dll
/ChitFund/bin/System.Web.Http.WebHost.xml
/ChitFund/bin/System.Web.Http.xml
/ChitFund/bin/x64
/ChitFund/bin/x86
/ChitFund/bin/ChitFund.dll
/ChitFund/bin/ChitFund.dll.config
/ChitFund/bin/ChitFund.pdb
/ChitFund/bin/Newtonsoft.Json.dll
/ChitFund/bin/Newtonsoft.Json.xml
/ChitFund/bin/ServiceStack.Common.dll
/ChitFund/bin/ServiceStack.Common.xml
/ChitFund/bin/ServiceStack.Interfaces.dll
/ChitFund/bin/ServiceStack.OrmLite.dll
/ChitFund/bin/ServiceStack.OrmLite.Sqlite.Windows.dll
/ChitFund/bin/ServiceStack.Text.dll
/ChitFund/bin/ServiceStack.Text.xml
/ChitFund/bin/System.Data.SQLite.dll
/ChitFund/bin/System.Data.SQLite.xml
/ChitFund/bin/System.Net.Http.Formatting.dll
/ChitFund/bin/System.Net.Http.Formatting.xml
/ChitFund/obj/Debug
